<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" packages="org.talend.daikon.logging.event.layout" verbose="false">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="CONSOLE APPENDER %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="File"  fileName="application_log4j2.log" append="false" >
      <Log4j2ECSLayout serviceName="logging-event-layout-test" locationInfo="true" hostInfo="true">
        <KeyValuePair key="labels.my_custom_label" value="Custom value"/>
        <KeyValuePair key="unknown_field" value="random value"/>
      </Log4j2ECSLayout>
    </File>
  </appenders>

  <loggers>
    <root level="INFO">
      <appender-ref ref="Console"/>
      <appender-ref ref="File"/>
    </root>
  </loggers>
</configuration>
